#mainDiv {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    background-image: url(imgs/home_background.webp);
    background-repeat: no-repeat;
    background-size:cover ;
    height: 1000px;



}

.logo{

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-top: 20px;
    width: 15vw;

}

.certificationBanner {
    height: 5vw;


}

body {
    background-color: #F6F7EB;
    margin: 0;

text-align: center;

    /* #F6F7EB*/
}

h1 {
    text-align: center;
    font-family: monospace;
    color: #27a9e1;
    font-style: italic;
    font-size: 2vmin;
}

#mainDiv .textBlurbs {

    color: white;
    width: fit-content;
    margin: 0;
    font-size: 5vmin;

}

#mainDiv #genCon {
    background-color: rgba(0, 0, 0, .9);
    padding:  50px 50px 50px 50px;
}

#mainDiv #stream {
    background-color: rgba(39, 169, 225, .9);
    padding:  25px 25px 25px 25px;
    font-style:italic;
}

#attentionGrabbers {
    text-align: center;
    font-size: 3vw;
    color: rgb(39, 169, 225);
    font-family: impact;
}

#points {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#points img {
    display:inline-block;
    margin:5px 20px;
    padding:5px;

    width: 8vw;
    height: 7vw;
    
}

#points td {
    width:min-content;
}

#points h2, p {
    color: #666666;
}


.navBar a{
    font-family: monospace;
    padding: 100px 20px 0px 20px;
    font-weight: bolder;
    font-size: 2vw;
    color:rgb(39, 169, 225);
    border-bottom: 3px solid transparent;
    text-decoration: none;
    
}

.navBar td {
    padding: 20px 0px 20px 0px;
}



.navBar a:hover {
    border-bottom: 3px solid white;
    color: white;
    font-weight: normal;
    cursor: pointer;
    font-style:italic;
}

.navBar a:active {
    color: #27a9e1;
}

.navBar {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#activeNavBar {
    border-bottom: 3px solid white;
    font-weight: normal;
}

.even {
    border-left:3px solid white ;
    border-right:3px solid white ;
}